<ion-header>
  <ion-navbar>
    <ion-title><h1>Actividades</h1></ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-row>
    <ion-col>
      <ion-item>
        <ion-label> Seleccionar Alumno </ion-label>
        <ion-select [(ngModel)]="activityArrullo.boleta" name="boleta" *ngFor="let alumnon of Alumnos" (ionChange)="getActivities()">
          <ion-option [value]="alumnon.boleta">{{alumnon.nombre}}</ion-option>
        </ion-select>
      </ion-item>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <ion-list>
        <ion-item-sliding *ngFor="let actividad of Actividades">
          <ion-item>


              <!--<ion-icon ios="ios-shirt" md="md-shirt" *ngIf="Number(actividad.Actividad_idActividad) == 0"></ion-icon>
              <ion-icon ios="ios-happy" md="md-happy" *ngIf="Number(actividad.Actividad_idActividad) == 1"></ion-icon>
              <ion-icon ios="ios-sad" md="md-sad" *ngIf="Number(actividad.Actividad_idActividad) == 2"></ion-icon>
              <ion-icon ios="ios-man" md="md-man" *ngIf="Number(actividad.Actividad_idActividad) == 3"></ion-icon>-->

                      <!--{{descripcion[actividad.Actividad_idActividad].nombre}}-->
                  <p>
                    {{actividad.fechaInicio}}
                  </p>

                  <p>
                    {{actividad.duracion}}
                  </p>

                  <p>
                    {{actividad.calificacion}}
                  </p>

          </ion-item>

          <ion-item-options side="right">
            <button ion-button color="danger" (click)="borrar(actividad.id_actividadAlumno)">
              <ion-icon name="trash"></ion-icon>
              Borrar
            </button>
          </ion-item-options>

        </ion-item-sliding>
      </ion-list>
    </ion-col>
  </ion-row>



</ion-content>
